@font-face {
  font-family: Baloo_2; /* Имя шрифта */
  src: url('../assets/Baloo_2/Baloo2-Bold.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Bulito; /* Имя шрифта */
  src: url('../assets/fonts/Bulito.ttf'); /* Путь к файлу со шрифтом */
}
div {
  font-family: 'Bulito';
}
